header {
  position: fixed;
  width: 100%;
  background-color: #000000;
  z-index: 10001; 

}

.header-inner {
  height: 0;
  padding-top: 42px;
  position: relative; 
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Circular', 'Noto Sans', 'Calibri', 'Arial', 'Helvetica','Corbel','Garamond';
  -webkit-box-sizing: border-box; 
  font-weight: bold; }

@media (min-width: 768px) {
  .header-inner {
    padding-top: 78px;
    font-size: 2rem;} }

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block; 
  color: #ffffff; }
 
 .logo img {
      display: block;
      width: 150px;
      height: 25px; }

  
@media (min-width: 768px) {
  .logo {
    left: 10%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
    .logo img {
      display: block;
      width: 184px;
      height: 32px; 
      width:auto;
    height:auto;
    max-width:-50%;
    max-height:-50%} }


footer {
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0%;
  background-color: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#333333));
  background-image: -webkit-linear-gradient(top, #222222 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #222222 0%, #333333 100%);
  background-image: linear-gradient(top, #222222 0%, #333333 100%);
  z-index: 10000; }

@media (min-width: 768px) {
  footer {
    background-color: #e9e9e9; } }

.pc__onboard {
  display: none;
  height: 30px;
  line-height: 30px;
  font-size: 0.75rem;
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  color: #404040;
  padding: 0 1rem;
  font-weight: bold;  }

@media (min-width: 768px) {
  .pc__onboard {
    display: block; } }

.m__onboard {
  display: block;
  height: 36px;
  line-height: 36px;
  width: 100%;
  position: relative;
  color: #ffffff;
  font-weight: bold;  }

@media (min-width: 768px) {
  .m__onboard {
    display: none; } }

.footer__onboard {
  display: inline-block;
  color: #1ED760;
  margin: 0; }

.footer__stream {
  display: inline-block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  letter-spacing: 0.02rem; }
  .footer__stream li {
    display: inline; }
    .footer__stream li a {
      color: #1ED760;
      font-size: 0.75rem; }

.footer__stream li:after {
  content: " | ";
  color: #707070; }

.footer__stream li:nth-last-child(1):after {
  content: ""; }

@media (min-width: 768px) {
  .footer__stream {
    left: auto;
    right: 0;
    -webkit-transform: translateX(-1rem);
    -ms-transform: translateX(-1rem);
    transform: translateX(-1rem); } }

* {
  font-family: 'Circular', 'Noto Sans', 'Calibri', 'Arial', 'Helvetica','Corbel','Garamond';
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a, a:hover {
  text-decoration: none;
  cursor: pointer; }

ul, li {
  margin: 0;
  padding: 0; }

ul {
  font-size: 0; }

li {
  font-size: 16px; }

html {
  width: 100%;
  height: 100%;
  font-size: 16px; }

body {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed; }

.contents {
  position: relative;
  width: 80%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  padding-top: 42px; }

  @media (min-width: 768px) {
  .contents {
    line-height : 25px;
    padding-top: 48px; } }

  @media (min-width: 1280px) {
  .contents {
    line-height : 25px;
    padding-top: 48px; } }


  .title{
    padding-top: 60px; 
    color: #2E2F33;
    font-size: 1.5rem;
    line-height : 20px;
    
    font-family: 'Circular', 'Noto Sans', 'Calibri', 'Arial', 'Helvetica','Corbel','Garamond';
  -webkit-box-sizing: border-box; 
   font-weight: bold; }

   @media (min-width: 768px) {
  .title {
    line-height : 27px;
    font-size: 2rem; } }

   @media (min-width: 1280px) {
  .title {
    line-height : 40px;
    font-size: 2.5rem; } } 


  .text{
    color: #2E2F33;
    font-size: 0.8rem;
    font-family: 'Circular', 'Noto Sans', 'Calibri', 'Arial', 'Helvetica','Corbel','Garamond';
  -webkit-box-sizing: border-box; }

  @media (min-width: 768px) {
  .text {
    font-size: 1rem; } }

  @media (min-width: 1280px) {
  .text {
    font-size: 1rem; } } 

 
  .last{
    margin-top: 30px;
    margin-bottom: 120px;  
    color: #6E6E6E;
    font-size: 0.8rem;
    font-family: 'Circular', 'Noto Sans', 'Calibri', 'Arial', 'Helvetica','Corbel','Garamond';
  -webkit-box-sizing: border-box; }

  @media (min-width: 768px) {
  .last {
    font-size: 1rem; } }

  @media (min-width: 1280px) {
  .last {
    font-size: 1rem; } } 

  .photo{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%; 
    position: relative;}  

   
 element.style {
  }
}
.toolbar__btn--gotop:hover {
    background-color: #1ED760; }
.toolbar__btn:hover {
    -webkit-filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5)); }
.toolbar__btn {
    position: relative;
    display: black;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    margin: 0.6vh 0.2vh;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

@media (min-width: 768px) {
  .toolbar__btn {
    width: 38px;
    height: 38px;} }

  @media (min-width: 1280px) {
  .toolbar__btn {
    width: 38px;
    height: 38px;} } 


.toolbar {
    display: inline-block;
    margin: 0;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-right: -150px;
    padding: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3pxs;
    list-style-type: none;
    width: 54px;
    width: 100%;
    max-width: 768px;
    text-align: center;
    z-index: 1000; }

  @media (min-width: 768px) {
  .toolbar {
    margin-right: -280px;} }

  @media (min-width: 1280px) {
  .toolbar {
    margin-right: -280px;} } 


    .stage{
    width: 100%;
    text-align: center;}


.buttonBox{
    display: inline-block;
    margin: 0 auto;}


.button{
    display: inline-block;
    padding: 12px 72px;
    border-radius: 8px;
    width: auto;
    background-color: #35DB70;
    width: 100%;
    color: #fff;
    cursor: pointer;
    
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

    
    position: relative;
    animation-name: floating; 
    animation-duration: 2s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;}


@keyframes floating {
    
    0% {top: -5px;}
    50% {top: 10px;}
    100% {top: -5px;} }

  
