footer
    .pc__copyright
        p.footer__copyright
            | Copyright 2015 PChome.co.th All Rights Reserved.
        ul.footer__terms
            li
                a(href="http://www.pchome.co.th/about/privacypoilcy" target="_blank") นโยบายความเป็นส่วนตัว
            li
                a(href="http://www.pchome.co.th/about/webpoilcy" target="_blank") เงื่อนไขการใช้บริการ

    .m__copyright
        ul.footer__terms
            li
                a(href="http://m.pchome.co.th/about" target="_blank") About Us
            li
                a(href="http://www.pchome.co.th/about/privacypoilcy" target="_blank") นโยบายความเป็นส่วนตัว
            li
                a(href="http://www.pchome.co.th/about/webpoilcy" target="_blank") เงื่อนไขการใช้บริการ