doctype html
html(lang='en')
    head
        //- Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        
        //- favicon.ico
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='Bookmark', href='favicon.ico', type='image/x-icon')
         
        //- Reset CSS
        link(rel='stylesheet', type='text/css', href='css/normalize.css')

        //- bootstrap4 CSS
        //- link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')

        link(rel='stylesheet', type='text/css', href='css/style.css')

        title Welcome

    //- body(style="background-image: url('images/bg_body_repeat_n.png');")
    body
    
        //- HEADER
        include ./includes/header.pug

        //- CONTENTS
        .contents
            // Nina 妳想要秀的東西放這邊     
       
        //- FOOTER
        include ./includes/footer.pug

        // Optional JavaScript
        //- script(type="text/javascript" src='js/jquery-3.3.1.min.js')
        // bootstrap4
        //- script(type="text/javascript" src='js/popper.min.js')
        //- script(type="text/javascript" src='js/bootstrap.min.js')